# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
\

../../../../Week7_NodeJs/Day4_Hackathon_Part1/
../../../.DS_Store
.DS_Store

