body {
  background: url(/Week5_Adv_And_Asynchronous_Javascript/robot_friend.png);

  background-color: #4b0082;
}

nav {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/Week5_Adv_And_Asynchronous_Javascript/jason-quote-bg-pattern.png);
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

#search_input {
  width: 500px;
  background-color: #a9a9a9;
}

h1 {
  position: absolute;
  left: 1%;
  font-weight: normal;
  font-size: 24px;
  font-family: 'SEGA LOGO FONT', sans-serif;
}

form {
  display: flex;
  align-items: center;
}

.Card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  gap: 15px;
  justify-items: center;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300;
  width: 400px;
  border: 3px solid black;
  background: url(/Week5_Adv_And_Asynchronous_Javascript/background_card.png);
  border-radius: 1em;
  background-color: #1e90ff;
}

.circular-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: violet;
  border: 1px solid;
  display: flex;
  justify-content: center;
  border: 2px solid #4b0082;
    background: url(/Week5_Adv_And_Asynchronous_Javascript/2023-dark-mode-mastodon-pattern.png);
  align-items: center;
}

.circular-image img {
  width: 200px;

  object-fit: cover;
  border-radius: 50%;
}
